    :root {
    --prim-clr: whitesmoke;
    --second-clr: #cd0300;
    --third-clr: #494949;
    --text-clr: #000000;
    --clr-button: #686868;

    --font-hero: 'monospace', monospace;
    --font-text: 'Space Mono', monospace;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: var(--ff-text);
    color: var(--prim-clr);
    font-size: 1.125rem;
}

body {
    margin: 0;
    text-align: center;
}

section{
    padding: 2.5em 1em;
}

/* Typeography */
h1,
h2,
h3,
h4,
p,
a,
span,
i, 
li, 
button {
    font-family: var(--font-text);
    color: var(--text-clr);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

/* Dark and Light Mode */
.dark {
    --prim-clr: #000000;
    --second-clr: #cd0300;
    --third-clr: #232323;
    --text-clr: whitesmoke;
    --clr-button: #4e4e4e;

    transition: transform 500ms ease-in;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--third-clr);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

@supports (scrollbar-color: rgb(0, 0, 0) var(--third-clr)) {
    * {
        scrollbar-color: rgb(0, 0, 0) var(--third-clr);
        scrollbar-width: auto;
    }
}

@media all and (min-width: 853px) {

    /* Nav */
    header {
        padding: 1.5em 0em 1.5em;
        background: var(--prim-clr);
    }

    nav a {
        color: var(--text-clr);
        text-decoration: none;
        padding: 0 1.5em 0;
        position: relative;
        font-size: 0.9em;
    }

    .dark-mode-toggle {
        width: 5%;
        height: 5vh;
        background: var(--prim-clr);
        border: 0;
        cursor: pointer;
    }

    .header-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: currentColor;

        transform: scaleX(0);
        transition: transform 150ms ease-in;
    }

    .header-link:hover::after {
        transform: scaleX(0.6);
    }

    /* Hero */
    .hero {
        position: relative;
        background-color: rgb(106, 105, 105);
        background-image: url(../img/hero.jpg);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-size: cover;
        height: 90vh;
    }

    .hero h1 {
        padding: 1.2em;
        position: absolute;
        top: 15%;
        right: 53%;
        color: whitesmoke;
    } 

    .hero-clock {
        position: absolute;
        font-size: 1.2em;
        padding: 1em;
        top: 25%;
        right: 54%;
    }
    
    .hero-clock span {
        color: whitesmoke;
        font-size: 1em;
    }

    /* Projects */
    .project {
        background: var(--prim-clr);
    }

    .project h2 {
        font-size: 1.5em;
        padding: 0.5em 0 1em;
    }

    .project h3 {
        padding: 1em;
    }

    .project p {
        font-size: 1em;
        padding: 0.8em;
    }

    .project-column {
        display: flex;
        flex-direction: row;
    }

    .column1 {
        background: var(--third-clr);
        float: left;
        width: 33%;
        margin: 1em;
        border-radius: 10px 0 5px 0;
    }

    .column2 {
        background: var(--third-clr);
        float: right;
        width: 33%;
        margin: 1em;
        border-radius: 0 5px 0 5px;
        position: relative;
    }

    .column3 {
        background: var(--third-clr);
        float: right;
        width: 33%;
        margin: 1em;
        border-radius: 5px 0 10px 0;
    }

    .col-img {
        background-color: #0e0d0d;
        background-blend-mode: multiply;
        background-attachment: fixed;
        height: 350px;
        margin: auto;
        width: 85%;
        position: relative;
    }

    .col-img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        padding: 0;
        opacity: 0.5;
        border: black solid 1px;
        transition: ease-in 200ms
    }

    .col-img i {
        position: absolute;
        bottom: 25px;
        width: 100%;  
        z-index: 2;
        opacity: 1;
        font-size: 30px;
    }

    .col-img img:hover {
        cursor: pointer;
        box-shadow: 0 10px 20px rgb(0, 0, 0);
        opacity: 0.9;
    }

    .border-button {
        display: flex;
        justify-content: space-around;
        margin-bottom: 4vh;
    }

    .border-button a {
        width: 100%;
    }

    .border-button button {
        position: relative;
        margin: 1em 0.5em 0;
        cursor: pointer;
        border: 0;
        background: var(--prim-clr);
        color: var(--text-clr);
        width: 35%;
        height: 40px;
        font-size: 0.7em;
        border-radius: 5px;
        z-index: 1;
    }

    .project-button::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--clr-button);
        border-radius: 5px;

        z-index: -1;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 200ms ease-in;
    }

    .project-button:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .project-2 {
        background-color: #000;
        display: none;
        transition: ease-in 200ms;
        margin-top: 0;
        padding-top: 0;
    }

    .project-2 h2 {
        font-size: 1.5em;
        padding: 0.5em 0 1em;
    }

    .project-2 h3 {
        padding: 1em;
    }

    .project-2 p {
        font-size: 1em;
        padding: 0.8em;
    }

    .project-2 > .project-column {
        justify-content: center;
    }   

    .project-read {
        position: relative;
        margin: 1em 0.5em 0;
        cursor: pointer;
        border: 0;
        background: var(--clr-button);
        color: var(--text-clr);
        width: 25%;
        height: 40px;
        font-size: 0.7em;
        border-radius: 5px;
        z-index: 1;
    }

    .project-read::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--third-clr);
        border-radius: 5px;

        z-index: -1;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 200ms ease-in;
    }

    .project-read:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    /* About me */
    .connect {
        background-color: var(--third-clr);
        display: flex;
        flex-direction: row;
    }

    .about-me {
        float:left;
        width: 50%;
        margin: 1em;
    }

    .hire-me {
        float:left;
        width: 50%;
        margin: 1em;
        align-items: center;
    }

    .hire-me h2 {
        color: whitesmoke;
    }
        
    .about-me h2 {
        background: var(--prim-clr);
        padding: 0.5em 0 0.5em;
        margin: 0.5em;
    }

    .about-me p {
        font-size: 0.9em;
        line-height: 1.5em;
        padding: 1em;
    }

    .hire-me h2 {
        background-image: url(../img/body-bg.jpg);
        background-color: #fff;
        background-blend-mode: multiply;
        padding: 0.5em 0 0.5em;
        margin: 0.5em;
        margin-bottom: 3em;
    }

    .hire-me a{
        text-decoration: none;
    }

    .big-button {
        margin: 1em 0.5em 0;
        cursor: pointer;
        border: 0;
        background: var(--prim-clr);
        color: var(--text-clr);
        padding: 1em 2.5em 1em;
        width: 80%;
        font-size: 1em;
        position: relative;
        z-index: 1;
        border-radius: 10px;
    }

    .big-button::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--clr-button);
        border-radius: 10px;

        z-index: -1;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 200ms ease-in;
    }

    .big-button:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    /*Bottom Nav - Contact */
    footer {
        padding: 1.2em 0em 1.2em;
        background-color: var(--prim-clr);
    }

    footer a {
        color: var(--text-clr);
        text-decoration: none;
        padding: 0 1.5em 0;
        position: relative;
    }

    .contact-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: currentColor;

        transform: scaleX(0);
        transition: transform 200ms ease-in;
    }

    .contact-link:hover::after {
        transform: scaleX(0.6);
    }

    /* Modals */
    .modal-1, .modal-2, .modal-3 {
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        justify-content: center;
        align-items: center;

        display: none;
    }

    .modal-4 {
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        justify-content: center;
        align-items: center;

        display: none;
    }

    .modal-5 {
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        justify-content: center;
        align-items: center;

        display: none;
    }

    .content-1, .content-2, .content-3, .modal-4, .modal-5 {
        height: 400px;
        width: 750px    ;
        padding: 20px;
        border: 1px solid white;
        background-color: #000000;
        box-shadow: 0 2px 3px 0 rgba(240, 240, 240, 0.5);
        position: relative;
    }

    .close-1, .close-2, .close-3, .close-4, .close-5 {
        position: absolute;
        top: 0;
        right: 0.3em;
        font-size: 2em;
        font-weight: bold;
        transform: rotate(45deg);
        cursor: pointer;
    }

    .mine-grid{
        display: flex;
    }

    .mine-vid {
        width: 50%;
    }

    .mine-text {
        width: 50%;
    }

    .mine-text h2 {
        font-size: 1.1em;
        text-decoration: underline;
        padding: 1em 0 1em 0;
    }

    .mine-text p {
        font-size: 14px;
        padding-bottom: 2em;
    }

    .mine-text h3 {
        font-size: 0.9em;
        text-decoration: underline;
        padding: 1em 0 0 0;
    }
    
    .mine-text ul {
        display: flex;
    }

    .mine-text li {
        padding: 0 2em 0 1em;
        list-style: none;
        font-size: 30px;
    }

    .sweet-grid{
        display: flex;
    }

    .sweet-media {
        width: 50%;
        position: relative;
    }

    .sweet-text {
        width: 50%;
    }

    .sweet-media img {
        height: 350px;
        width: 325px;
    }

    .sweet-text h2 {
        font-size: 1.1em;
        padding: 1em 0 1em 0;
        text-decoration: underline;
    }

    .sweet-text p {
        font-size: 14px;
        padding-bottom: 2em;
    }

    .sweet-text h3 {
        font-size: 0.9em;
        text-decoration: underline;
        padding: 1em 0 0 0;
    }
    
    .sweet-text ul {
        display: flex;
    }

    .sweet-text li {
        padding: 0 2em 0 1em;
        list-style: none;
        font-size: 30px;
    }

    .web-grid{
        display: flex;
    }

    .web-media {
        width: 50%;
        position: relative;
    }

    .web-text {
        width: 50%;
    }

    .web-media img {
        height: 350px;
        width: 325px;
    }

    .web-text h2 {
        font-size: 1.1em;
        padding: 1em 0 1em 0;
        text-decoration: underline;
    }

    .web-text p {
        font-size: 14px;
        padding-bottom: 2em;
    }

    .web-text h3 {
        font-size: 0.9em;
        text-decoration: underline;
        padding: 1em 0 0 0;
    }
    
    .web-text ul {
        display: flex;
    }

    .web-text li {
        padding: 0 2em 0 1em;
        list-style: none;
        font-size: 30px;
    }

    .api-grid{
        display: flex;
    }

    .api-media {
        width: 50%;
    }

    .api-text {
        width: 50%;
    }

    .api-text h2 {
        font-size: 1.1em;
        padding: 1em 0 1em 0;
        text-decoration: underline;
    }

    .api-text p {
        font-size: 14px;
        padding-bottom: 2em;
    }

    .api-text h3 {
        font-size: 0.9em;
        text-decoration: underline;
        padding: 1em 0 0 0;
    }
    
    .api-text ul {
        display: flex;
    }

    .api-text li {
        padding: 0 2em 0 1em;
        list-style: none;
        font-size: 30px;
    }

    .api-grid{
        display: flex;
    }

    .api-media {
        width: 50%;
    }

    .api-text {
        width: 50%;
    }

    .api-text h2 {
        font-size: 1.1em;
        padding: 1em 0 1em 0;
        text-decoration: underline;
    }

    .api-text p {
        font-size: 14px;
        padding-bottom: 2em;
    }

    .api-text h3 {
        font-size: 0.9em;
        text-decoration: underline;
        padding: 1em 0 0 0;
    }
    
    .api-text ul {
        display: flex;
    }

    .api-text li {
        padding: 0 2em 0 1em;
        list-style: none;
        font-size: 30px;
    }

    .port-grid{
        display: flex;
    }

    .port-media {
        width: 50%;
    }

    .port-text {
        width: 50%;
    }

    .port-text h2 {
        font-size: 1.1em;
        padding: 1em 0 1em 0;
        text-decoration: underline;
    }

    .port-text p {
        font-size: 14px;
        padding-bottom: 2em;
    }

    .port-text h3 {
        font-size: 0.9em;
        text-decoration: underline;
        padding: 1em 0 0 0;
    }
    
    .port-text ul {
        display: flex;
    }

    .port-text li {
        padding: 0 2em 0 1em;
        list-style: none;
        font-size: 30px;
    }
}

@media all and (max-width: 850px) {

    /* Nav */
    header {
        padding: 1.5em 0em 1.5em;
        background: var(--prim-clr);
    }

    nav a {
        color: var(--text-clr);
        text-decoration: none;
        padding: 0 1.5em 0;
        position: relative;
    }

    .header-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: currentColor;

        transform: scaleX(0);
        transition: transform 150ms ease-in;
    }

    .header-link:hover::after {
        transform: scaleX(0.6);
    }

    /* Hero */
    .hero {
        background-color: rgb(72, 72, 72);
        background-image: url(../img/hero.jpg);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-size: cover;
        height: 90vh;
    }

    .hero h1 {
        padding: 1em;
    } 

    .hero-link {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    /* Projects */
    .project {
        background: var(--prim-clr);
    }

    .project h2 {
        font-size: 1.5em;
        padding: 0.5em 0 1em;
    }

    .project h3 {
        padding: 1em;
    }

    .project p {
        font-size: 1em;
        padding: 0.8em;
    }

    .project-1{
        background: var(--third-clr);
        margin:1em 1em 2em;
    }

    .project-2{
        background: var(--third-clr);
        margin:1em 1em 2em;
    }    

    .project-3{
        background: var(--third-clr);
        margin:1em 1em 2em;
    }

    /* About me */
    .connect {
        background-color: var(--third-clr);
    }

    .about-me h2 {
        background: var(--prim-clr);
        padding: 0.5em 0 0.5em;
        margin: 0.5em;
    }

    .about-me p {
        font-size: 0.9em;
        line-height: 1.5em;
        padding: 1em;
    }

    .hire-me h2 {
        background-image: url(../img/body-bg.jpg);
        background-color: #fff;
        background-blend-mode: multiply;
        padding: 0.5em 0 0.5em;
        margin: 0.5em;
    }   

    .hire-me a {
        text-decoration: none;
    }

    button {
        margin: 0 0.5em 0;
        cursor: pointer;
        border: 0;
        background: var(--prim-clr);
        color: var(--text-clr);
        padding: 1em 2.5em 1em;
        width: 80%;
        margin: 0.5em;
        font-size: 1em;
        position: relative;
        z-index: 1;
    }

    button::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #4e4e4e;

        z-index: -1;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 200ms ease-in;
    }

    button:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    /*Bottom Nav - Contact */
    footer {
        padding: 1.2em 0em 1.2em;
        background-color: var(--prim-clr);
    }

    footer a {
        color: var(--text-clr);
        text-decoration: none;
        padding: 0 1.5em 0;
        position: relative;
    }

    .contact-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: currentColor;

        transform: scaleX(0);
        transition: transform 200ms ease-in;
    }

    .contact-link:hover::after {
        transform: scaleX(0.6);
    }

}