:root {
    --prim-clr: whitesmoke;
    --second-clr: #cd0300;
    --third-clr: #494949;
    --text-clr: #000000;
    --clr-button: #686868;

    --font-hero: 'monospace', monospace;
    --font-text: 'Space Mono', monospace;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: var(--ff-text);
    color: var(--prim-clr);
    font-size: 1.125rem;
}

body {
    margin: 0;
    text-align: center;
}

section{
    padding: 2.5em 1em;
}

/* Typeography */
h1,
h2,
h3,
h4,
p,
a,
span,
i, 
li, 
button {
    font-family: var(--font-text);
    color: var(--text-clr);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Dark and Light Mode */
.dark {
    --prim-clr: #000000;
    --second-clr: #cd0300;
    --third-clr: #232323;
    --text-clr: whitesmoke;
    --clr-button: #4e4e4e;

    transition: transform 500ms ease-in;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--third-clr);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

@supports (scrollbar-color: rgb(0, 0, 0) var(--third-clr)) {
    * {
        scrollbar-color: rgb(0, 0, 0) var(--third-clr);
        scrollbar-width: auto;
    }
}

    /* Nav */

    .dark-mode-toggle {
        width: 5%;
        height: 5vh;
        background: var(--prim-clr);
        border: 0;
        cursor: pointer;
    }
    
    header {
        background-color: #000000;
    }

    .nav-bar {
        min-height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 24px;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }

    .nav-menu a {
        position: relative;
    }

    .nav-link a {
        color: #fff;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: currentColor;

        transform: scaleX(0);
        transition: transform 200ms ease-in;
    }

    .nav-link:hover::after {
        transform: scaleX(0.8);
    }

    .hamburger {
        display: none;
        cursor: pointer;
    }

    .bars {
        display: block;
        width: 25px;
        height: 5px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }

    /* Hero */
    .hero {
        position: relative;
        background-color: rgb(106, 105, 105);
        background-image: url(../img/hero.jpg);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-size: cover;
        height: 90vh;
    }

    .hero h1 {
        padding: 1.2em;
        position: absolute;
        top: 15%;
        right: 53%;
        color: whitesmoke;
    } 

    .hero-clock {
        position: absolute;
        font-size: 1.2em;
        padding: 1em;
        top: 25%;
        right: 54%;
    }
    
    .hero-clock span {
        color: whitesmoke;
        font-size: 1em;
    }

    /* Projects */
    .project {
        background: var(--prim-clr);
    }

    .project h2 {
        font-size: 1.5em;
        padding: 0.5em 0 1em;
    }

    .project h3 {
        padding: 1em;
    }

    .project p {
        font-size: 1em;
        padding: 0.8em;
    }

    .project-selection {
        display: none;
    }

    .project-column {
        display: flex;
        flex-direction: row;
    }

    .column1 {
        background: var(--third-clr);
        float: left;
        width: 33%;
        margin: 1em;
        border-radius: 10px 0 5px 0;
    }

    .column2 {
        background: var(--third-clr);
        float: right;
        width: 33%;
        margin: 1em;
        border-radius: 0 5px 0 5px;
        position: relative;
    }

    .column3 {
        background: var(--third-clr);
        float: right;
        width: 33%;
        margin: 1em;
        border-radius: 5px 0 10px 0;
    }

    .col-img {
        background-color: #0e0d0d;
        background-blend-mode: multiply;
        background-attachment: fixed;
        height: 350px;
        margin: auto;
        width: 85%;
        position: relative;
    }

    .col-img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        padding: 0;
        opacity: 0.5;
        border: black solid 1px;
        transition: ease-in 200ms
    }

    .col-img i {
        position: absolute;
        bottom: 25px;
        width: 100%;  
        z-index: 2;
        opacity: 1;
        font-size: 30px;
    }

    .col-img img:hover {
        cursor: pointer;
        box-shadow: 0 10px 20px rgb(0, 0, 0);
        opacity: 0.9;
    }

    .border-button {
        display: flex;
        justify-content: space-around;
        margin-bottom: 4vh;
    }

    .border-button a {
        width: 100%;
    }

    .border-button button {
        position: relative;
        margin: 1em 0.5em 0;
        cursor: pointer;
        border: 0;
        background: var(--prim-clr);
        color: var(--text-clr);
        width: 100px;
        height: 40px;
        font-size: 0.7em;
        border-radius: 5px;
        z-index: 1;
    }

    .project-button::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--clr-button);
        border-radius: 5px;

        z-index: -1;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 200ms ease-in;
    }

    .project-button:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .back-img img {
        width: 300px;
        height: 350px;
    }

    /* Prokect-Column2*/
    .project-column2 {
        display: none;
        grid-template-columns: 1fr 2fr 2fr 1fr;
    }

    .column4 {
        margin: 1em;
        border-radius: 10px 0 5px 0;
        background: var(--third-clr);
    }

    .column5 {
        margin: 1em;
        border-radius: 10px 0 5px 0;
        background: var(--third-clr);
    }


    /* Project Open Pages */
    .more-projects {
        display: inline;
    }

    .more-projects button {
        position: relative;
        margin: 1em 0.5em 0;
        cursor: pointer;
        border: 0;
        background: var(--prim-clr);
        color: var(--text-clr);
        width: 35%;
        height: 40px;
        font-size: 0.7em;
        border-radius: 5px;
        z-index: 1;
        border: 1px solid var(--text-clr);
    }

    .more-btn::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--clr-button);
        border-radius: 5px;

        z-index: -1;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 200ms ease-in;
    }

    .more-btn:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .return-projects {
        display: none;
    }

    .return-projects button {
        position: relative;
        margin: 1em 0.5em 0;
        cursor: pointer;
        border: 0;
        background: var(--prim-clr);
        color: var(--text-clr);
        width: 35%;
        height: 40px;
        font-size: 0.7em;
        border-radius: 5px;
        z-index: 1;
        border: 1px solid var(--text-clr);
    }

    .return-btn::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--clr-button);
        border-radius: 5px;

        z-index: -1;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 200ms ease-in;
    }

    .return-btn:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .crypto-back {
        display: none;
    }

    .sweet-back {
        display: none;
    }

    .personal-back {
        display: none;
    }

    .api-back {
        display: none;
    }

    .port-back {
        display: none;
    }

    .back-flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1.5em 0 1.5em 0;
    }

    .back-flex h2 {
        text-decoration: underline;
    }

    .back-flex h3 {
        text-decoration: underline;
    }

    .back-end ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .back-end ul li {
        list-style: none;
        font-size: 1.5em;
    }

    /* About me */
    .connect {
        background-color: var(--third-clr);
        display: flex;
        flex-direction: row;
    }

    .about-me {
        float:left;
        width: 50%;
        margin: 1em;
    }

    .hire-me {
        float:left;
        width: 50%;
        margin: 1em;
        align-items: center;
    }

    .hire-me h2 {
        color: whitesmoke;
    }
        
    .about-me h2 {
        background: var(--prim-clr);
        padding: 0.5em 0 0.5em;
        margin: 0.5em;
    }

    .about-me p {
        font-size: 0.9em;
        line-height: 1.5em;
        padding: 1em;
    }

    .hire-me h2 {
        background-image: url(../img/body-bg.jpg);
        background-color: #fff;
        background-blend-mode: multiply;
        padding: 0.5em 0 0.5em;
        margin: 0.5em;
    }

    .hire-me a{
        text-decoration: none;
    }

    .big-button {
        margin: 2em 0.5em 0;
        cursor: pointer;
        border: 0;
        background: var(--prim-clr);
        color: var(--text-clr);
        padding: 1em 2.5em 1em;
        width: 80%;
        font-size: 1em;
        position: relative;
        z-index: 1;
        border-radius: 10px;
    }

    .big-button::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--clr-button);
        border-radius: 10px;

        z-index: -1;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 200ms ease-in;
    }

    .big-button:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    /*Bottom Nav - Contact */
    footer {
        padding: 1.2em 0em 1.2em;
        background-color: var(--prim-clr);
    }

    footer a {
        color: var(--text-clr);
        text-decoration: none;
        padding: 0 1.5em 0;
        position: relative;
    }

    .contact-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: currentColor;

        transform: scaleX(0);
        transition: transform 200ms ease-in;
    }

    .contact-link:hover::after {
        transform: scaleX(0.6);
    }

@media (max-width: 860px) {

    /* Nav */
    .hamburger {
        display: block;
    }

    .hamburger.active .bars:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bars:nth-child(1){
        transform:  translateY(11px) rotate(45deg);
    }

    .hamburger.active .bars:nth-child(3){
        transform:  translateY(-8px) rotate(-45deg);
    }
    
    .nav-menu {
        position: absolute;
        left: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        text-align: center;
        transition: 0.3s;  
        z-index: 1; 
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    /* Hero */
    .hero h1 {
        text-align: center;
        position: relative;
        top: auto;
        right: auto;
    } 

    .hero-clock {
        text-align: center;
        position: relative;
        top: auto;
        right: auto;
    }

    /* Projects */
    .project-selection {
        display: inline;
        padding: 0.5em 0 0.5em 0;
        width: 40%;
        text-align: center;
    }

    .project-column {
        display: flex;
        flex-direction: column;
    }

    .back-flex {
        display: flex;
        flex-direction: column;
    }

    .column1 {
        display: block;
        width: 92%;
    }

    .crypto-front {
        display: none;
    }

    .crypto-back {
        display: block;
    }

    .column2 {
        display: none;
        width: 92%;
    }

    .sweet-front {
        display: none;
    }

    .sweet-back {
        display: block;
    }

    .column3 {
        display: none;
        width: 92%;
    }

    .personal-front {
        display: none;
    }

    .personal-back {
        display: block;
    }

    .column4 {
        display: none;
        width: 92%;
    }

    .api-front {
        display: none;
    }

    .api-back {
        display: block;
    }

    .column5 {
        display: none;
        width: 92%;
    }

    .port-front {
        display: none;
    }

    .port-back {
        display: block;
    }

    .more-projects {
        display: none;
    }

    /* About me */
    .connect {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .hire-me {
        width: 100%;
        padding: auto;
        margin: auto;
    }

    .about-me {
        width: 100%;
        padding: auto;
        margin: 1em auto;
    }

    button {
        margin: 0 0.5em 0;
        cursor: pointer;
        border: 0;
        background: var(--prim-clr);
        color: var(--text-clr);
        padding: 1em 2.5em 1em;
        width: 80%;
        margin: 0.5em;
        font-size: 1em;
        position: relative;
        z-index: 1;
    }

    button::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #4e4e4e;

        z-index: -1;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 200ms ease-in;
    }

    button:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    /*Bottom Nav - Contact */
    footer {
        padding: 1.2em 0em 1.2em;
        background-color: var(--prim-clr);
    }

    footer a {
        color: var(--text-clr);
        text-decoration: none;
        padding: 0 1.5em 0;
        position: relative;
    }

    .contact-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: currentColor;

        transform: scaleX(0);
        transition: transform 200ms ease-in;
    }

    .contact-link:hover::after {
        transform: scaleX(0.6);
    }

}